.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
}

.main-box {
  width: 30rem;

  .box-content {
    p {
      padding: 1rem;
    }
  }
}